<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Generator</title>
</head>
<body>
    <h1> My Lucky Numbers </h1>

    <!-- Conditional message -->
    <!-- if query string contains 'name', 'count' and 'list', ignore 'count' -->
    <div data-th-if="${param.list != null}">
        <h2>Hello <span data-th-text="${name}"></span></h2>
        <h2>Here is your list of <span data-th-text="${imagesListCount}"></span> lucky numbers</h2>
        <table>
            <tr data-th-each="image : ${imagesList}">
                <td><img data-th-src="${image.Name}"></td>
            </tr>
        </table>
    </div>

    <div data-th-unless="${param.list != null}">
        <h2>Hello <span data-th-text="${name}"></span></h2>
        <h2>Here is your list of <span data-th-text="${count}"></span> lucky numbers</h2>
        <table>
            <tr data-th-each="image : ${imagesCount}">
                <td><img data-th-src="${image.Name}"></td>
            </tr>
        </table>
    </div>
    
    <div>
        <a href="/"> <h3>Back</h3> </a>
    </div>

</body>
</html>